<nav class="navbar navbar-expand-md fixed-top custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <div class="colorful-text">
        <span class="char1">M</span>
        <span class="char2">a</span>
        <span class="char3">t</span>
        <span class="char4">c</span>
        <span class="char5">h</span>
        <span class="char6">M</span>
        <span class="char7">a</span>
        <span class="char8">k</span>
        <span class="char9">e</span>
        <span class="char10">r</span>
      </div>
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (currentUser()) {
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
      </li>
      }
    </ul>

    @if (currentUser()) {
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
        Welcome {{ loggedInUser }}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" (click)="edit()">Edit Profile</a>
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
      </div>
    </div>
    }

    @if (!(currentUser())) {
    <div class="d-flex auth-buttons">
      <input name="Username" class="form-control me-2" type="text" placeholder="Username" [(ngModel)]="model.userName"
        [ngModelOptions]="{standalone: true}">
      <input name="password" class="form-control me-2 pw" type="text" placeholder="Password"
        [(ngModel)]="model.Password" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline-success btn-login" (click)="login()" type="submit">Login</button>
      <button class="btn btn-outline-success btn-signup" (click)="registerNewUser()" type="submit">Register</button>
    </div>
    }

  </div>
</nav>