.nav-back {
 background-color: #087990 !important;
}

.navbar-brand {
 font-family: cursive;
 font-weight: bold;
 color: #FFCC70;
 position: relative;
 left: -6%;
 font-size: 30px;
}

input.pw {
  -webkit-text-security: disc;
}

.btn-login {
  background-color: #DAFFFB !important;
}

.btn-login :hover {
     background-color: #0F2C59 !important;
}